asciitree==0.3.3
boto3-stubs==1.36.6
botocore-stubs==1.36.6
click-plugins==1.1.1
color-operations==0.1.6
colorspacious==1.1.2
descartes==1.1.0
hpack==4.0.0
ipyevents==2.0.2
jupyter-panel-proxy==0.1.0
jupyterlab-bxplorer==0.1.24
llvmlite==0.43.0
matplotlib==3.9.2
munkres==1.1.4
mypy-boto3-s3==1.36.0
numexpr==2.10.2
properscoring==0.1
pyarrow==17.0.0
pycairo==1.27.0
pycamhd==0.7.0
PyGObject==3.50.0
pystac-client==0.6.1
PyWavelets==1.7.0
rio-tiler==7.3.1
setuptools==75.3.0
stac_ipyleaflet @ git+https://github.com/MAAP-Project/stac_ipyleaflet.git@35ded6cc4b49277a6709dd1b130ae3eb111d44f7
typer==0.13.0
typer-slim==0.13.0
types-awscrt==0.23.7
types-s3transfer==0.11.2
tzlocal==5.2
Werkzeug==3.1.3
wheel==0.45.0
